*

!.gitignore
!.gitattributes

!devutils/
!devutils/**/
!patches/
!patches/**/

!AGENTS.md
!LICENSE
!README.md
!freecad_commit.txt
!freecad_repo.txt
!flake.nix
!flake.lock
!.envrc
!devutils/quilt-env.sh

!patches/*.patch
!patches/**/*.patch

!justfile
!patches/series
